
:root{
  --primaryColor: #5fb7ea;
  --primaryRGBA: rgba(117,17,177,0.3);
  --mainGrey: #fafafa;
  --darkGrey: #5f5f5f;
  --mainBlack: #222;
  --mainWhite: #fff;
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing: 0.3rem;
}
body{
  font-family: Calibri, sans-serif;
  background: var(--mainGrey) !important;
}
.text-title{
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}
.text-main{
  color: var(--primaryColor);
}
.main-link{
  padding: 0.5rem 1rem;
  background: var(--primaryColor);
  color: var(--mainWhite);
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: var(--mainSpacing);
  outline: 3px solid var(--primaryColor);
  outline-offset: 4px;
  border:none;
  transition: var(--mainTransition);
}
.main-link:hover{
  background: var(--darkGrey);
  text-decoration: none;
  color: var(--primaryColor);
  outline-color: var(--darkGrey);
}